@use "../../styles/colors";
@use "../../styles/media-queries" as mq;
@use "../../styles/mixins";

.results {
  p {
    @include mixins.font-body(1rem);
  }

  @include mixins.flex(column, $align: center);
  background-color: colors.$background;
  min-height: 100vh;
  width: 100%;
  padding: 2rem;

  @include mq.pc() {
    padding: 4rem;
  }
}
