@use "../../styles/colors";
@use "../../styles/media-queries" as mq;
@use "../../styles/mixins";

input {
  width: 90%;
  max-width: 275px;
}

.container {
  @include mixins.flex($justify: center, $align: center);
  width: 100%;
  margin-bottom: 1em;
}

.search {
  @include mixins.font-body(0.9rem);
  display: inline;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid colors.$gray-medium;
}
