@use "../../styles/colors";
@use "../../styles/mixins";

img {
  display: flex;
  justify-self: center;
}

.modal_backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  @include mixins.flex(row, center, center);
  z-index: 7;
}

.modal_info {
  @include mixins.font-body(0.9rem);
  background: white;
  padding: 1.25rem;
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
  position: relative;
}

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  border: none;
  background: transparent;
  cursor: pointer;
}
